.b-footer{
    position: relative;
    top: 100%;
    background-color: $black;
    margin-top: 40rem;
    &::before{
        content:"";
        position: absolute;
        top:-4.6rem;
        height:4.6rem;
        left:0;
        right:0;
        background:linear-gradient(to bottom right, transparent 49%, $black 50%);
        @include breakpoint(desktop){
            top: -16.8rem;
            height: 16.9rem;
        }
    }
    &__content{
        position: relative;
        text-align: center;
        background-color: black;
        padding: 0.2rem 0 8rem 0;
        @include breakpoint(desktop){
            display: flex;
            justify-content: space-between;
            padding: 3.4rem 14.7rem 9rem 13.6rem;
        }
    }
    &__list{
        padding-bottom: 1.2rem;
        padding-top: 3.1rem;
        @include breakpoint(desktop){
            display: flex;
            padding-top: 3.4rem;
            padding-bottom: 0;
        }
    }
    &__page{
        padding-bottom: 1.5rem;
        @include breakpoint(desktop){
            padding-bottom: 0;
        }
    }
    &__link{
        display: block;
        color: $white;
        font-family: $raleway;
        font-size: 1.1rem;
        font-weight: 500;
        @include breakpoint(desktop){
            font-size: 1.5rem;
            padding-right: 6rem;
        }

    }
    &__social{
        display: flex;
        justify-content: space-between;
        max-width: 47%;
        margin: auto;
        padding-bottom: 5rem;
        @include breakpoint(desktop){
            position: absolute;
            justify-content: center;
            padding-bottom: 0;
            right: 12.1rem;
            top: -5.3rem;

        }
        &-field{
            @include breakpoint(desktop){
                padding-right: 1rem;
            }
            &-icon{
                filter: invert(100%);
                width: 2.9rem;
                @include breakpoint(desktop){
                    width: 2.6rem;
                }
            }
        }
    }
    &__logo{
        &-img{
            margin: auto;
            width: 7.2rem;
            @include breakpoint(desktop){
                width: 7.6rem;
            }
        }
    }
}