.b-footer{
    position: relative;
    background-color: $black;
    margin-top: 14.4rem;
    padding-bottom: 20rem;
    @include breakpoint(desktop){
        padding-bottom: 11.2rem;
        margin-top: 18.6rem;
    }
    &::before{
        content:"";
        position: absolute;
        top:-8.9rem;
        height: 9rem;
        left:0;
        right:0;
        background:linear-gradient(to bottom right, transparent 49%, $black 50%);
        @include breakpoint(desktop){
            top: -13.4rem;
            height: 9.5rem;
            margin-top: 4.1rem;
        }
    }
    &__content{
        position: relative;
        text-align: center;
        background-color: black;
        padding: 6.4rem 0 8rem 0;
        @include breakpoint(desktop){
            display: flex;
            justify-content: space-between;
            padding: 0 4rem 5.2rem 14.2rem;
            top: 7.2rem;
        }
    }
    &__list{
        padding-bottom: 4.4rem;
        padding-left: 2.9rem;
        padding-right: 2rem;
        @include breakpoint(desktop){
            display: flex;
            padding: 2.6rem 0 0 0;
        }
    }
    &__page{
        padding-bottom: 2rem;
        @include breakpoint(desktop){
            padding-bottom: 0;
            margin-right: 0.1rem;
            letter-spacing: -0.005em;
        }
    }
    &__link{
        font-family: $raleway;
        @include fontSizeRem (24, 14);
        font-weight: 500;
        display: block;
        color: $white;
        line-height: 3rem;
        letter-spacing: -0.002em;
        @include breakpoint(desktop){
            padding-right: 6rem;
            &--mob{
                display: none;
            }
        }
        &:hover{
            @include breakpoint(desktop){
                color: $yellow;
                transition: all .1s linear;
                cursor: pointer;
            }
                
        }

    }
    &__social{
        display: flex;
        justify-content: space-between;
        max-width: 47%;
        margin: auto;
        padding-bottom: 10.5rem;
        @include breakpoint(desktop){
            position: absolute;
            justify-content: center;
            padding-bottom: 0;
            right: 11.2rem;
            top: -8.6rem;

        }
        &-field{
            width: 5.5rem;
            height: 5.5rem;
            @include breakpoint(desktop){
                margin-right: 1.2rem;
                width: 2.51rem;
                height: 2.51rem;
            }
            &-icon{
                width: 100%;
                height: 100%;
                display: inline-block;
                transition: all .1s ease-in;
                cursor: pointer;
                @include breakpoint(desktop){
                    &:hover{
                        width: 100%;
                        height: 100%;
                        fill: $yellow;
                        filter: invert(100%);
                        // filter: invert(84%) sepia(98%) saturate(3332%) hue-rotate(59deg) brightness(259%) contrast(124%);
                        transition: all .1s linear;
                    }
                    
                }
                svg{
                    filter: invert(100%);
                    width: 100%;
                    height: 100%;
                }
                
            }
            
        }
        
    }
    &__logo{
        display: block;
        height: 15.6rem;
        max-width: 15rem;
        margin: auto;
        @include breakpoint(desktop){
            height: 7rem;
            width: 6.6rem;
            
        }
        &-img{
            height: 100%;
            @include breakpoint(desktop){
                width: 100%;
            }
        }
    }
}

.b-footer__logo--mixologie-p{
    @include breakpoint(desktop){
        cursor: pointer;
    }
}
