.b-header{
    position: absolute;
    top: 0;
    width: 100%;
    padding: 4.8rem 4rem 1rem 4.7rem;
    z-index: 3;
    @include breakpoint(desktop){
        position: fixed;
        background-color: $black;
        padding: 3.7rem 6.1rem 0 9.2rem;
        z-index: 1;
        transition: all 0.2s linear;
    }
    &__content{
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        @include breakpoint(desktop){
            align-items: flex-start;
        }
    }
    &__logo{
        position: relative;
        width: 12.6rem;
            @include breakpoint(desktop){
                width: 10.4rem;
            }
        &-wrapper{
            width: 100%;
        }
        &-img{
            width: 100%;
        }

    }
    &__navigation{
        display: none;
        @include breakpoint(desktop){
            display: flex;
            padding-top: 1.9rem;
            padding-left: 2rem;
        }
        &-list{
            @include breakpoint(desktop){
                display: flex;
                max-width: 100%;
            }

        }
        &-page{
            @include breakpoint(desktop){
                display: flex;
            }

        }
        &-link{
            @include breakpoint(desktop){
                display: flex;
                font-family: $raleway;
                font-size: 1.5rem;
                color: $white;
                line-height: 2rem;
                letter-spacing: .25rem;
                text-transform: uppercase;
                transition: all .3s linear;
                padding-right: 4.3rem;
                &::after{
                    position: relative;
                    content: '/';
                    color: #c0b500;
                    font-size: 2rem;
                    transform: rotate(12deg);
                    left: 2.2rem;
                }
                &:hover{
                    height: 100%;
                    width: 100%;
                    color: $yellow;
                    transition: all 0.3s linear;
                }
                span{
                    font-weight: 700;
                    cursor: pointer;
                }

                &--last{
                    &::after{
                        display: none;
                    }
                }
            }

        }
    }
    
    &__search{
        @include breakpoint(desktop){
            display: flex;
        }
        &-content{
            display: flex;
            &-search{
                background-color: white;
                padding: 2.63rem 2.33rem;
                border-radius: 0.2em;
                margin-top: -0.8rem;
                @include breakpoint(desktop){
                    padding: 1.93rem 1rem;
                    margin-top: 0;
                }
                &-icon{
                    width: 2.4rem;
                    @include breakpoint(desktop){
                        width: 1.4rem;
                    }

                }

            }
            &-location{
                display: none;
                @include breakpoint(desktop){
                    display: flex;
                    align-items: center;
                    margin-left: 1.25rem;

                }
                &-field{
                    @include breakpoint(desktop){
                        display: flex;
                        align-items: center;
                        background-color: $dark-grey;
                        height: 97%;
                        padding: 0.1rem 4.7rem 0.2rem 3.5rem;
                    } 
                }
                &-icon{
                    @include breakpoint(desktop){
                        padding-right: 1rem;
                    }
                }
                &-text{
                    @include breakpoint(desktop){
                        display: block;
                        font-family: $raleway;
                        font-size: 1.2rem;
                        color: $white;
                    }

                }
            }
        }
    }
}

.b-header--mixologie-p{
    @include breakpoint(desktop){
        position: absolute;
        background-color: transparent;
        
    }
}

.b-header__logo--mixopogie-p{
    @include breakpoint(desktop){
        cursor: pointer;
    }
}


