.b-header--sticky{
    // visibility: hidden;
    display: none;
    @include breakpoint(desktop){
        // visibility: hidden;
        // display: none;
        display: block;
        position: fixed;
        width: 100%;
        top: 0;
        background-color: $black;
        padding: 1.3rem 6.1rem 1.1rem 11.7rem;
        z-index: 2;
    }
    .b-header__content{
        
        @include breakpoint(desktop){
            align-items: flex-start;
            position: relative;
            display: flex;
            justify-content: space-between;
            width: 100%;
        }
    }
    .b-header__logo{
        @include breakpoint(desktop){
            position: relative;
            width: 5.8rem;
            max-width: 100%;
        }
        &-wrapper{
            @include breakpoint(desktop){
                width: 100%;
            }
        }
        &-img{
            @include breakpoint(desktop){
                width: 100%;
            }
        }

    }
    .b-header__navigation{
        @include breakpoint(desktop){
            display: flex;
            padding-top: 2.3rem;
            width: 59%;
            padding-right: 0.5rem;
            padding-left: 2rem;
        }
        &-list{
            @include breakpoint(desktop){
                display: flex;
                max-width: 100%;
                width: 100%;
                justify-content: space-between;
            }

        }
        &-page{
            @include breakpoint(desktop){
                display: flex;
            }

        }
        &-link{
            @include breakpoint(desktop){
                display: flex;
                font-family: $raleway;
                font-size: 1.5rem;
                font-weight: 700;
                color: $white;
                line-height: 2rem;
                letter-spacing: .25rem;
                text-transform: uppercase;
                transition: all .3s linear;
                padding-right: 4.04rem;
                &::after{
                    position: relative;
                    content: '/';
                    color: #c0b500;
                    font-size: 2rem;
                    transform: rotate(12deg);
                    left: 1.9rem;
                }
                &:hover{
                    height: 100%;
                    width: 100%;
                    color: $yellow;
                    transition: all 0.3s linear;
                }
                span{
                    font-weight: 700;
                }

                &--last{
                    @include breakpoint(desktop){
                        &::after{
                            display: none;
                        }
                    }
                    
                }
            }

        }
    }
    
    .b-header__search{
        @include breakpoint(desktop){
            display: flex;
            margin-top: 0.4rem;
        }
        &-content{
            @include breakpoint(desktop){
                display: flex;
            }
            &-search{
                @include breakpoint(desktop){
                    background-color: white;
                    border-radius: 0.2em;
                    padding: 1.9rem 1rem;
                    margin-top: 0;
                }
                &-icon{
                    width: 2.4rem;
                    @include breakpoint(desktop){
                        width: 1.4rem;
                    }

                }

            }
            &-location{
                @include breakpoint(desktop){
                    display: flex;
                    align-items: center;
                    margin-left: 1.25rem;

                }
                &-field{
                    @include breakpoint(desktop){
                        display: flex;
                        align-items: center;
                        background-color: $dark-grey;
                        height: 97%;
                        padding: 0.5rem 4.7rem 0.2rem 3.5rem;
                    } 
                }
                &-icon{
                    @include breakpoint(desktop){
                        padding-right: 1rem;
                        margin-top: -0.4rem;
                    }
                }
                &-text{
                    @include breakpoint(desktop){
                        display: block;
                        font-family: $raleway;
                        font-size: 1.2rem;
                        color: $white;
                    }

                }
            }
        }
    }
}