.b-lus{
    position: relative;
    &::before{
        position: absolute;
        content: "";
        background-color: $black;
        width: 100%;
        height: 174.7rem;
        z-index: -1;
        @include breakpoint(desktop){
            height: 117rem;
        }
        
    }
    &__intro{
        position: relative;
        padding-top: 10.9rem;
        padding-left: 9.9rem;
        padding-bottom: 6.8rem;
        letter-spacing: -0.12em;
        @include breakpoint(desktop){
            padding-top: 12rem;
            padding-left: 26.1rem;
        }
        &__title{
            position: relative;
            font-size: 10.9rem;
            color: $yellow;
            @include breakpoint(desktop){
                font-size: 8.4rem;
            }
            &__first-row{
                position: relative;
                display: block;
                padding-left: 10.2rem;
                @include breakpoint(desktop){
                    padding-left: 7.9rem;
                }
            }
            &__second-row{
                position: relative;
                font-size: 15rem;
                top: -3.6rem;
                @include breakpoint(desktop){
                    font-size: 11.5rem;
                    top: -3rem;
                }
            }
            &__third-row{
                position: relative;
                font-size: 15.7rem;
                top: -2rem;
                left: -1.4rem;
                @include breakpoint(desktop){
                    font-size: 12.2rem;
                    top: -1.5rem;
                    left: -1.1rem;
                }
            }
        }
    }
    &__articles{
        position: relative;
        padding-bottom: 6rem;
        padding-left: 3.9rem;
        padding-right: 4.1rem;
        @include breakpoint(desktop){
            padding: 0 14.6rem 5.1rem 17.1rem;
        }
        &--left{
            position: relative;
            @include breakpoint(desktop){
                width: 50%;
            }
            &__content{
                position: relative;
                @include breakpoint(desktop){
                    width: 100%;
                    padding-left: 3.4rem;
                }
            }
            &__visual{
                position: relative;
                width: 56rem;
                height: 41.4rem;
                @include breakpoint(desktop){
                    width: 50.5rem;
                    height: 32.3rem;
                    cursor: pointer;
                }
                &::after{
                    background-color: $dark-grey;
                    width: 56rem;
                    top: 100%;
                    height: 13.4rem;
                    left: 0;
                    z-index: 0;
                    @include breakpoint(desktop){
                        width: 56.7rem;
                        height: 41.9rem;
                        top: 0.1rem;
                        left: -6.2rem;
                        z-index: -1;
                    }
                }
                &__img{
                    position: relative;
                    width: 100%;
                    height: 100%;
                    img{
                        width: 100%;
                        height: 100%;

                    }
                }
            }
            &__text{
                position: relative;
                width: 80%;
                top: 5.2rem;
                padding-left: 7.1rem;
                color: $white;
                letter-spacing: 0.007em;
                padding-bottom: 10rem;
                @include breakpoint(desktop){
                    position: absolute;
                    width: 67%;
                    font-size: 2.6rem;
                    top: 36.2rem;
                    padding-left: 3.4rem;
                    line-height: 3.4rem;
                    letter-spacing: 0.007em;
                }
            }
            &__tag{
                position: relative;
                font-size: 2.4rem;
                color: $yellow;
                @include breakpoint(desktop){
                    font-size: 1.3rem;
                    top: -0.3rem;
                    left: 0.2rem;
                    letter-spacing: 0.002em;
                }
            }
            &__date{
                position: relative;
                font-size: 2.3rem;
                top: 0.2rem;
                letter-spacing: 0.028em;
                font-weight: 500;
                @include breakpoint(desktop){
                    font-size: 1.2rem;
                    top: -1.3rem;
                    letter-spacing: 0.024em;
                    left: 0.1rem;
                }
            }
        }
        &--right{
            position: relative;
            @include breakpoint(desktop){
                padding-right: 8.2rem;
                margin-top: -11.7rem;
            }
            &__content{
                position: relative;
                @include breakpoint(desktop){
                    margin-bottom: 4.8rem;
                }
            }
            &__visual{
                position: relative;
                width: 56rem;
                height: 41.4rem;
                @include breakpoint(desktop){
                    width: 48.2rem;
                    height: 30.7rem;
                    cursor: pointer;
                }
                &__img{
                    position: relative;
                    width: 100%;
                    height: 100%;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
            }
            &__text{
                position: absolute;
                width: 81%;
                padding-left: 6.8rem;
                top: 48.6%;
                line-height: 1.2em;
                letter-spacing: 0.008em;
                z-index: 1;
                @include breakpoint(desktop){
                    width: 75%;
                    top: 60.7%;
                    padding-left: 4.2rem;
                    line-height: 2.7rem;
                    &--last{
                        top: 60.5%;
                    }
                }
                p{
                    padding-top: 0.3rem;
                    letter-spacing: 0.005em;
                }
            }
            &__tag{
                position: relative;
                font-size: 2.4rem;
                color: $yellow;
                @include breakpoint(desktop){
                    font-size: 1.3rem;
                    top: 0.5rem;
                    letter-spacing: -0.03em;
                }
            }
            &__date{
                position: relative;
                font-size: 2.3rem;
                top: 0.2rem;
                letter-spacing: 0.028em;
                font-weight: 500;
                @include breakpoint(desktop){
                    font-size: 1.3rem;
                    top: -0.1rem;
                    letter-spacing: -0.03em;
                }
            }
        }
    }
    &__second-list{
        position: relative;
        &__articles{
            position: relative;
        }
        &__article{
            position: relative;
            &__visual{
                position: relative;
                width: 27.3rem;
                height: 20.3rem;
                cursor: pointer;
                @include breakpoint(desktop){
                    width: 31.6rem;
                    height: 23.5rem;
                }
                &__img{
                    position: relative;
                    width: 100%;
                    height: 100%;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
            }
            &__text{
                position: relative;
                color: $black;
                font-size: 2.8rem;
                padding-top: 1.6rem;
                padding-left: 1.2rem;
                line-height: 3.4rem;
                @include breakpoint(desktop){
                    font-size: 1.6rem;
                    line-height: 2.3rem;
                    width: 78%;
                    padding-top: 1.32rem;
                    padding-left: 2.4rem;
                    letter-spacing: 0.006em;
                    &--second{
                        padding-left: 1.8rem;
                    }
                    &--third{
                        padding-left: 1.5rem;

                    }
                }
                p{
                    padding-top: 0.4rem;
                    letter-spacing: 0.005em;
                    font-weight: 500;
                }
            }
            &__tag{
                position: relative;
                font-size: 2.4rem;
                color: $light;
                // padding-left: 0.3rem;
                @include breakpoint(desktop){
                    font-size: 1.3rem;
                    top: 0.5rem;
                    letter-spacing: -0.03em;
                }
            }
            &__date{
                position: relative;
                font-size: 2.4rem;
                top: 1rem;
                letter-spacing: 0.031em;
                @include breakpoint(desktop){
                    font-size: 1.3rem;
                    top: -0.1rem;
                    letter-spacing: -0.03em;
                }
            }
        }
    }
}