.b-mixologie{
    padding-bottom: 13.6rem;
    @include breakpoint(desktop){
        padding-bottom: 12rem;
    }
    &__title{
        font-size: 11.9rem;
        color: $black;
        padding: 4.3rem 2rem 0 4.8rem;
        @include breakpoint(desktop){
            font-size: 10rem;
            padding-left: 20rem;
            margin-bottom: 3rem;
        }
        span{
            font-size: 11.9rem;
            color: $black;
            left: -3.3rem;
            top: 1.9rem;
            @include breakpoint(desktop){
                font-size: 10rem;
                left: -2.9rem;
                top: 1.5rem;
            }
        }
    }
    &__articles{
        margin-bottom: 9.9rem;
        margin-top: 9.8rem;
        @include breakpoint(desktop){
            display: flex;
            justify-content: flex-start;
            margin-bottom: 2.8rem;
            margin-top: 0;
        }
        &--left{
            width: 100%;
            margin-bottom: 4.4rem;
            @include breakpoint(desktop){
                width: 50%;
                margin-top: 4.2rem;
            }
            &__content{
                @include breakpoint(desktop){
                    padding-left: 14.4rem;
                }
                &::after{
                    height: 46.2rem;
                    @include breakpoint(desktop){
                        height: 53.5rem;
                    }
                }
            }
            &__img{
                width: 32rem;
                height: 46.2rem;
                @include breakpoint(desktop){
                    width: 33.5rem;
                    height: 53.5rem;
                }
                img{
                    height: 100%;
                }
            }
            
            &__text{
                left: 36rem;
                z-index: 0;
                letter-spacing: 0.004em;
                @include breakpoint(desktop){
                    top: 17.8rem;
                    letter-spacing: 0.01em;
                    line-height: 2.61rem;
                    left: 50.8rem;
                }
            }
        }
        &--right{
            position: relative;
            margin: 0 4rem 9.9rem;
            @include breakpoint(desktop){
                padding-left: 1rem;
                margin: 0;
            }

            &::after{
                position: absolute;
                content: "";
                background: url(../images/line1.png);
                top: -7.9rem;
                right: -3.99rem;
                width: 34.2rem;
                height: 23rem;
                background-size: cover;
                @include breakpoint(desktop){
                    top: -11.9rem;
                    right: -22.6rem;
                    height: 25.3rem;
                    width: 57.8rem;
                }
            }
            &__content{
                position: relative;
                width: 56rem;
                height: 41.5rem;
                @include breakpoint(desktop){
                    margin-left: 0;
                    margin-bottom: 6.8rem;
                    width: 48.3rem;
                    height: 30.9rem;
                }
            }
            &__img{
                width: 100%;
                height: 100%;
                img{
                    width: 100%;
                }
            }
            &__text{
                left: 6.7rem;
                width: 68%;
                letter-spacing: 0.008em;
                line-height: 3.8rem;
                top: 58.9%;
                @include breakpoint(desktop){
                    left: 4.16rem;
                    width: 69%;
                    line-height: 2.7rem;
                    top: 70.6%;
                }
            }
        }
    }
   
    
}
.c-btn--mixologie{
    &__field{
        background-color: $yellow;
        &::before{
            background-color: $black;
            @include breakpoint(desktop){
            }
        }
    }
    &__text{
        color: $black;
        
    }

}



