.b-mixologie{
    padding-bottom: 13.7rem;
    @include breakpoint(desktop){
        padding-bottom: 12.6rem;
    }
    &__title{
        font-size: 11.9rem;
        color: $black;
        padding: 4.3rem 2rem 0 4.8rem;
        @include breakpoint(desktop){
            font-size: 10rem;
            padding-left: 20rem;
            margin-bottom: 2.9rem;
        }
        span{
            font-size: 11.9rem;
            color: $black;
            left: -3.3rem;
            top: 1.9rem;
            @include breakpoint(desktop){
                font-size: 10rem;
                left: -2.9rem;
                top: 1.5rem;
            }
        }
    }
    &__articles{
        // width: 100%;
        margin-bottom: 9.9rem;
        margin-top: 9.8rem;
        @include breakpoint(desktop){
            display: flex;
            justify-content: flex-start;
            margin-bottom: 2.7rem;
            margin-top: 0;
        }
        &--left{
            width: 100%;
            display: flex;
            margin-bottom: 4.4rem;
            @include breakpoint(desktop){
                width: 50%;
                margin-top: 4.2rem;
                //margin-bottom: 0;
            }
            &__img{
                width: 50%;
                position: relative;
                @include breakpoint(desktop){
                    width: 66.5%;
                }
                &::after{
                    content:"";
                    position: absolute;
                    background-color: $yellow;
                    width: 7rem;
                    top: 0;
                    left: 32rem;
                    height: 46.1rem;
                    @include breakpoint(desktop){
                        width: 6.8rem;
                        left: 47.9rem;
                        height: 53.5rem;
                    }
                }
                &-mobile{
                    position: relative;
                    width: 100%;
                    height: 46.1rem;
                    
                    @include breakpoint(desktop){
                        display: none;
                    }
                }
                &-desk{
                    display: none;
                    @include breakpoint(desktop){
                        display: block;
                        margin-left: 14.4rem;
                        height: 53.5rem;

                    }
                }
            

            }
            
            &__text{
                font-family: $raleway;
                font-weight: 500;
                @include fontSizeRem (31, 18);
                //font-size: 3.1rem;
                color: $black;
                display: block;
                width: 64%;
                position: absolute;
                top: 10rem;
                left: 36rem;
                letter-spacing: 0.01em;
                line-height: 1.23em;
                z-index: 1;
                @include breakpoint(desktop){
                    width: 28%;
                    top: 17.7rem;
                    letter-spacing: 0;
                    line-height: 2.61rem;
                    left: 50.8rem;
                }
                p{
                    font-weight: 500;
                }
            }
        }
        &--right{
            margin: 0 4rem 9.9rem;
            @include breakpoint(desktop){
                padding-left: 1rem;
                margin: 0;
            }
            &__article{
                position: relative;
                //margin-left: 4rem;
                @include breakpoint(desktop){
                    margin-left: 0;
                    margin-bottom: 6.8rem;
                }
                &__imgmobile{
                    width: 100%;
                    @include breakpoint(desktop){
                        display: none;
                        height: 41.5rem;
                    }
                }
                &__imgdesk{
                    display: none;
                    @include breakpoint(desktop){
                        display: block;
                        height: 30.9rem;
                    }
                }
                &__text{
                    position: absolute;
                    font-family: $raleway;
                    font-size: 3.21rem;
                    font-weight: 500;
                    color: $white;
                    top: 59.5%;
                    left: 6.7rem;
                    width: 68%;
                    line-height: 1.16em;
                    letter-spacing: 0.007em;
                    @include breakpoint(desktop){
                        font-size: 1.8rem;
                        top: 70.5%;
                        left: 4.16rem;
                        width: 69%;
                        line-height: 2.51rem;
                        letter-spacing: 0.001em;
                    }
                    p{
                        font-weight: 500;
                    }
                }
                // &--last{
                //     display: none;
                //     @include breakpoint(desktop){
                //         display: block;
                //     }
                // }
            }
        }
    }
   
    
}
.c-btn--yellow{
    &__field{
        background-color: $yellow;
        &::before{
            background-color: $black;
        }
    }
    &__text{
        color: $black;
        
    }

}

