.b-musique{
    padding-bottom: 13.8rem;
    @include breakpoint(desktop){
        // padding-bottom: 17.5rem;
    }
    &__title{
        font-size: 13rem;
        color: $yellow;
        padding: 0 2rem 4.8rem 6rem;
        @include breakpoint(desktop){
            // font-size: 13rem;
            // padding-left: 30.1rem;
            // padding-bottom: 5rem;
        }
        span{
            font-size: 13rem;
            color: $yellow;
            left: -3.5rem;
            top: -2rem;
            @include breakpoint(desktop){
                // font-size: 13rem;
                // left: -3.7rem;
                // top: -2rem;
            }
        }
    }
    &__articles{
        margin-bottom: 9.9rem;
        margin-top: 1.1rem;
        @include breakpoint(desktop){
            // display: flex;
            // justify-content: flex-start;
            // margin-bottom: 5.85rem;
            // margin-top: -5.8rem;
        }
        &--top{
            width: 100%;
            padding: 0 4rem 4.4rem 4rem;
            margin-bottom: 2.6rem;
            @include breakpoint(desktop){
                // width: 50%;
                // margin-top: 5.6rem;
                // padding: 0;
            }
            &__content{
                &__img{
                    width: 100%;
                    position: relative;
                    @include breakpoint(desktop){
                        // width: 86.8%;
                    }
                }
                &__text{
                    font-family: $raleway;
                    color: $white;
                    @include fontSizeRem (32, 18);
                    display: block;
                    width: 100%;
                    position: relative;
                    line-height: 1.18em;
                    padding-top: 2.6rem;
                    @include breakpoint(desktop){
                        width: 46%;
                        top: 0.1rem;
                        letter-spacing: 0;
                        line-height: 2.61rem;
                        left: 25.6rem;
                    }
                    p{
                        font-weight: 500;
                    }
                }
            }  
        }
        &--bottom{
            @include breakpoint(desktop){
                // padding-left: 1rem;
                // margin: 0;
            }
            &__article{
                position: relative;
                width: 63.6%;
                padding-left: 4rem;
                padding-bottom: 0.2rem;
                @include breakpoint(desktop){
                    // width: 100%;
                    // padding-left: 0;
                    // margin-bottom: 15.8rem;
                }
                &__img{
                    height: 37.9rem;
                    @include breakpoint(desktop){
                        // display: none;
                        // height: 37.9rem;
                    }
                }
                &__text{
                    position: absolute;
                    font-family: $raleway;
                    font-size: 3.21rem;
                    color: $white;
                    top: 11.5%;
                    left: 41.4rem;
                    width: 46%;
                    line-height: 1.19em;
                    @include breakpoint(desktop){
                        // font-size: 1.8rem;
                        // top: 100%;
                        // left: 2.34rem;
                        // width: 69%;
                        // line-height: 2.51rem;
                        // letter-spacing: 0.003em;
                    }
                    p{
                        font-weight: 500;
                        padding-top: 2.7rem;
                    }
                }
            }
        }
    } 
}
.c-btn--yellow{
    &__field{
        background-color: $yellow;
    }
    &__text{
        color: $black;
        left: -1.8rem;
        top: 0.1rem;
        &::before{
            background-color: $black;
        }
    }

}
// .main-wrapper{
//     background-color: $black;
// }