.c-block--last{
    display: none;
    @include breakpoint(desktop){
        display: block;
    }
}

.c-block--three{
    width: 100%;
        @include breakpoint(desktop){
            display: flex;
            justify-content: flex-start;
        }
}

.c-bordered{
    position: relative;
    display: flex;
    align-items: center;
    &__img{
        position: relative;
        &::after{
        content: "";
        position: absolute;
        background-color: #fff000;
        width: 7rem;
        top: 0;
        height: 46.1rem;
            @include breakpoint(desktop){
                    width: 6.8rem;
                    height: 53.5rem;
            }
        }
    }
    &__text{
        font-family: "Raleway", "sans-serif";
        @include fontSizeRem (32, 18);
        color: #000;
        display: block;
        width: 35%;
        position: absolute;
        top: 10.1rem;
        letter-spacing: -0.003em;
        line-height: 1.19em;
        z-index: 0;
        @include breakpoint(desktop){
            width: 22%;
        }
        p{
            font-weight: 500;
        }
    }
}