.c-block--last{
    display: none;
    @include breakpoint(desktop){
        display: block;
        cursor: pointer;
    }
}

.c-block--three{
    width: 100%;
        @include breakpoint(desktop){
            display: flex;
            justify-content: flex-start;
        }
}

.c-bordered{
    position: relative;
    display: flex;
    align-items: center;
    &::after{
        content: "";
        position: absolute;
        background-color: #fff000;
        width: 7rem;
        top: 0;
        height: 46.1rem;
        left: 50%;
        z-index: -1;
            @include breakpoint(desktop){
                    width: 6.8rem;
                    height: 53.5rem;
                    left: 66.5%;
            }
        }
    &__img{
        position: relative;
    }
    &__text{
        font-family: "Raleway", "sans-serif";
        @include fontSizeRem (32, 18);
        color: #000;
        display: block;
        width: 35%;
        position: absolute;
        top: 10.1rem;
        letter-spacing: -0.003em;
        line-height: 1.19em;
        z-index: 0;
        @include breakpoint(desktop){
            width: 22%;
        }
        &--weight{
            font-weight: 400;
        }
    }
}

.c-list{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    margin: auto;
    padding-bottom: 5.8rem;
    @include breakpoint(desktop){
        width: 79%;
        margin: auto;
        padding-bottom: 8rem;
    }
    &__article{
        width: 42.8%;
        padding-bottom: 4.9rem;
        @include breakpoint(desktop){
            width: 29.6%;
            padding-bottom: 2.3rem;
            &--first-desk{
                margin-left: 2.1rem;
            }
        }
        &--left{
            margin-right: 1.3rem;
        }
    }
}