.c-img{
    @include breakpoint (desktop){
        &:before{
            position: absolute;
            content: "";
            width: 100%;
            height: 100%;
            left: 0;
            bottom: 0;
            right: 0;
            transition: all 0.3s ease-in-out;
            background: url(../images/circle_plus.png) center center no-repeat rgba(0, 0, 0, 0.6);
            background-size: 2rem 2rem;
            opacity: 0;
            z-index: 1;
        }
        &:hover::before{
            height: 100%;
            width: 100%;
            opacity: 1;
            transition: all 0.3s linear;
            z-index: 1;
            cursor: pointer;
            }
    }
}


.bkgr--black{
    background-color: $black;
    transition: background-color .9s ease;
}

.bkgr--white{
    background-color: $white;
    transition: background-color .9s ease;
}