.c-title{
    position: relative;
    font-family: 'quaintonregular';
}

.c-infotext{
    font-family: $raleway;
    @include fontSizeRem (32, 18);
    &--weight{
        font-weight: 500;
    }
}

.c-infotext__inside{
    position: absolute;
    font-family: "Raleway", "sans-serif";
    @include fontSizeRem (32, 18);
    color: #fff;
    top: 59.2%;
    line-height: 1.16em;
    @include breakpoint(desktop){
        top: 70.5%;
        line-height: 2.51rem;
        letter-spacing: 0.001em
    }
    &--weight{
        font-weight: 400;
    }
}

.c-infotext__under{
    font-family: "Raleway", "sans-serif";
    @include fontSizeRem (32, 18);
    color: #fff;
    display: block;
    width: 100%;
    position: relative;
    line-height: 1.18em;
    padding-top: 2.6rem;
    @include breakpoint(desktop){
        width: 46%;
        top: 0.1rem;
        letter-spacing: 0;
        line-height: 2.61rem;
    }
    &--weight{
        font-weight: 400;
    }

}

.c-text__regular{
    font-family: $raleway;
    @include fontSizeRem (26, 16);
    font-weight: 400;
    @include lineHeightRem (40, 31);
    letter-spacing: 0.046em;
    @include breakpoint(desktop){
        letter-spacing: 0.042em;
    }
}

// .c-capital-letter{
//     &::first-letter{
//         text-transform: uppercase;
//         font-weight: 400;
//         font-size: 14.1rem;
//         opacity: 100%;
//         color: $black;
//         margin-right: 1rem;
//         margin-left: -0.9rem;
//         @include breakpoint(desktop){
//             font-size: 6rem;
//             margin-right: 0.5rem;
//             margin-left: -0.4rem;
//         }
//     }
// }