.main-wrapper {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    &--black{
        background-color: $black;
    }
    &--white{
        background-color: $white;
    }
}

.wrapper {
    width: 100%;
	margin: 0 auto;
    max-width: 144rem;
    position: relative;
}

.clearfix::before {
    content: "";
    clear: both;
    display: table;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

body {
    background-color: $white;
}

.colorChange {
    background-color: $black;
}